<h2 class="c-headTitle__main js-open">
  <!-- js-openが付いたらアニメショーンするように！(テスト環境中は付与) -->
  <!-- <span class="c-headTitle">カテゴリーから引き出す</span> -->
  <span class="c-headTitle">
    <img src="../images/title_category.png" alt="" width="210px" height="auto" />
  </span>
  <span class="c-headTitle__line"></span>
  <span class="c-headTitle__square">
    <span class="c-headTitle__square-inner">
      <span class="c-headTitle__circle"></span>
    </span>
  </span>
</h2>

<div class="c-container">
  <ul class="c-btn-01__list main">
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="./post.html">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">HTML</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">CSS</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">Javascript</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">部品</span>
      </a>
    </li>
    <li class="c-btn-01__item plugin">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">プラグイン・フレームワーク</span>
      </a>
    </li>
    <li class="c-btn-01__item preparation">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner">
            <!-- 準備中 -->
          </div>
        </div>
        <!-- <span  class="c-btn-01__text">準備中</span> -->
      </a>
    </li>
  </ul>
  <!-- ツールボックス・ブログ -->
  <ul class="c-btn-01__list sub">
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="/tool.html">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">ツールボックス</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">ブログ</span>
      </a>
    </li>
  </ul>
</div>
