<div class="c-container">
  <a class="c-btn c-btn-01" href="">
    <div class="c-btn-01__box">
      <div class="c-btn-01__inner"></div>
    </div>
    <span class="c-btn-01__text">このサイトについて</span>
  </a>
</div>
