<div class="c-footMenu__listWrap footMenu">
  <ul class="c-btn-01__list">
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">カテゴリー</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">よく使う</span>
      </a>
    </li>
    <li class="c-btn-01__item">
      <a class="c-btn c-btn-01" href="">
        <div class="c-btn-01__box">
          <div class="c-btn-01__inner"></div>
        </div>
        <span class="c-btn-01__text">タグ </span>
      </a>
    </li>
  </ul>
</div>
