<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description" content="ここにサイトの簡単な説明を入れる" />
<meta property="og:title" content="サイト名を記入" />
<meta property="og:type" content="website" />
<meta property="og:description" content="サイトの簡単な説明を入れる" />
<meta property="og:url" content="サイトのURL" />
<meta property="og:site_name" content="サイト名記入" />
<meta property="og:image" content="サイトの画像" />
<meta name="twitter:card" content="summary" />
<title><%= head.title %> | テストタイトル</title>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/pages/<%= head.page %>/style.css" />
