<!DOCTYPE html>
<html lang="en">
  <head>
    <% let meta = { title: 'サブページ', page: 'home'}; %> <%- include('./include/_head',{ head: meta }); %>
  </head>
  <style>
    body {
      padding: 30px 10px 90px;
      border: 1px solid;
      border-radius: 4px;
    }

    .mb {
      margin-bottom: 30px;
    }
  </style>
  <body>
    <div class="wrapper">
      <!-- INCLUDE__HEADER -->
      <% let page = { pages: 'sample'}; %>
      <%- include('./include/_header', { header: page }); %>

      <main>
        <div class="mb_sm">
          <h3>引出しボタンデザイン</h3>
          <p>パターン1</p>
          <ul class="c-btn-01__list">
            <li class="c-btn-01__item">
              <a class="c-btn c-btn-01" href="">
                <div class="c-btn-01__box">
                  <div class="c-btn-01__inner"></div>
                </div>
                <span class="c-btn-01__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-01__item">
              <a class="c-btn c-btn-01" href="">
                <div class="c-btn-01__box">
                  <div class="c-btn-01__inner"></div>
                </div>
                <span class="c-btn-01__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-01__item">
              <a class="c-btn c-btn-01" href="">
                <div class="c-btn-01__box">
                  <div class="c-btn-01__inner"></div>
                </div>
                <span class="c-btn-01__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-01__item">
              <a class="c-btn c-btn-01" href="">
                <div class="c-btn-01__box">
                  <div class="c-btn-01__inner"></div>
                </div>
                <span class="c-btn-01__text up">HTML</span>
              </a>
            </li>
            <!-- 旧バージョン -->
            <li class="">
              <a class="c-btn c-btn-01" href="">
                <div class="c-btn-01__box">
                  <div class="c-btn-01__inner">HTML</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="mb">
          <p>パターン2</p>
          <ul class="c-btn-02__list">
            <li class="c-btn-02__item mb_10">
              <a class="c-btn c-btn-02" href="">
                <div class="c-btn__inner c-btn-02__box">Vue</div>
              </a>
            </li>
            <li class="c-btn-02__item mb_10">
              <a class="c-btn c-btn-02" href="">
                <div class="c-btn__inner c-btn-02__box">React</div>
              </a>
            </li>
            <li class="c-btn-02__item mb_10">
              <a class="c-btn c-btn-02" href="">
                <div class="c-btn__inner c-btn-02__box">Next.js</div>
              </a>
            </li>
            <li class="c-btn-02__item mb_10">
              <a class="c-btn c-btn-02" href="">
                <div class="c-btn__inner c-btn-02__box">Gatsby</div>
              </a>
            </li>
          </ul>
        </div>

        <div class="mb_sm">
          <p class="mb_sm">パターン3</p>
          <ul class="c-btn-03__list">
            <li class="c-btn-03__item">
              <a class="c-btn c-btn_03" href="">o-dan</a>
            </li>
            <li class="c-btn-03__item">
              <a class="c-btn c-btn_03" href="">o-dan</a>
            </li>
            <li class="c-btn-03__item">
              <a class="c-btn c-btn_03" href="">o-dan</a>
            </li>
            <li class="c-btn-03__item">
              <a class="c-btn c-btn_03" href="">o-dan</a>
            </li>
            <li class="c-btn-03__item">
              <a class="c-btn c-btn_03" href="">o-dan</a>
            </li>
          </ul>
        </div>

        <div class="mb_sm">
          <ul class="c-btn-04__list">
            <li class="c-btn-04__item">
              <a class="c-btn c-btn-04" href="">
                <div class="c-btn-04__box">
                  <div class="c-btn-04__inner"></div>
                </div>
                <span class="c-btn-04__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-04__item">
              <a class="c-btn c-btn-04" href="">
                <div class="c-btn-04__box">
                  <div class="c-btn-04__inner"></div>
                </div>
                <span class="c-btn-04__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-04__item">
              <a class="c-btn c-btn-04" href="">
                <div class="c-btn-04__box">
                  <div class="c-btn-04__inner"></div>
                </div>
                <span class="c-btn-04__text up">HTML</span>
              </a>
            </li>
            <li class="c-btn-04__item">
              <a class="c-btn c-btn-04" href="">
                <div class="c-btn-04__box">
                  <div class="c-btn-04__inner"></div>
                </div>
                <span class="c-btn-04__text up">HTML</span>
              </a>
            </li>
            <!-- 旧バージョン -->
            <li class="">
              <a class="c-btn c-btn-04" href="">
                <div class="c-btn-04__box">
                  <div class="c-btn-04__inner">HTML</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="mb_sm">
          <h3 class="mb_sm">引出しデザイン(タイトル)</h3>
          <p class="mb_sm">パターン1</p>

          <!-- <h2 class="c-title__wrap"> -->
          <h2 class="c-title__wrap js-open">
            <!-- js-openが付いたらアニメショーンするように！(テスト環境中は付与) -->
            <span class="c-title">カテゴリーから引き出す</span>
            <span class="c-title__line"></span>
            <span class="c-title__square">
              <span class="c-title__square-inner">
                <span class="c-title__circle"></span>
              </span>
            </span>
          </h2>
        </div>

        <div class="">
          <h2>ラインテスト</h2>
          <div class="c-line">
            <div class="c-line-inner"></div>
          </div>
        </div>
      </main>
    </div>

    <!-- INCLUDE__FOOTER -->
    <%- include('./include/_footer'); %>
    <!-- INCLUDE__FOOT -->
    <%- include('./include/_foot'); %>
  </body>
</html>
