.mb_xs {
  margin-bottom: 10px !important;
}
.mb_sm {
  margin-bottom: 20px !important;
}
.mb_md {
  margin-bottom: 30px !important;
}
.mb_lg {
  margin-bottom: 40px !important;
}
.mb_xl {
  margin-bottom: 80px !important;
}
.mb_xxl {
  margin-bottom: 100px !important;
}