.mb_10 {
  margin-bottom: 10px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.mb_30 {
  margin-bottom: 30px !important;
}
.mb_40 {
  margin-bottom: 40px !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_60 {
  margin-bottom: 60px !important;
}
.mb_xl {
  margin-bottom: 80px !important;
}
.mb_xxl {
  margin-bottom: 100px !important;
}