@use '../Foundation/color' as c;
@use '../Foundation/mixin' as m;

.c-explanation {
  &.c-section {
    margin: 0 auto;
  }

  & .c-btn-01 {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    @include m.mq(sm) {
    }
    @include m.mq(md) {
    }
  }
}
