@use '../Foundation/color' as c;
@use '../Foundation/mixin' as m;

.c-footMenu__listWrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: c.$base_white;
  z-index: 5000;
  width: calc(100% - 16px);

  @include m.mq(md) {
    display: none;
  }
}