@use '../Foundation/color' as c;
@use '../Foundation/mixin' as m;

.c-title__wrap {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 40px;
  text-align: center;
  position: relative;

  &.js-open {
    & .c-title {
      transform: translateY(0);
      opacity: 1;
    }

    & .c-title__line {
      transform: translateX(-50%) scale(1);
    }

    & .c-title__square {
      transform: translateY(0);

      &::before {
        left: 9px;
        transform: scale(1) rotate(22deg);
      }
      &::after {
        right: 9px;
        transform: scale(1) rotate(-22deg);
      }
    }
  }
}

.c-title {
  position: relative;
  display: inline-block;
  background-color: c.$base_white;
  border-radius: 10px;
  margin-bottom: 7px;
  padding: 2px 4px;
  @include m.font_size_rem(18);
  z-index: 2000;
  transition: opacity 0.7s 0.4s ease-in-out, transform 0.4s 0.4s;
  transform: translateY(30px);
  opacity: 0;
  // background: c.$back_wood;
}

.c-title__line {
  width: 150%;
  max-width: 350px;
  height: 1px;
  background-color: c.$base_black;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.2s;
}

.c-title__square {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  height: 34px;
  border: 1px solid;
  border-radius: 4px;
  display: block;
  position: relative;
  transition: transform 0.2s;
  transform: translateY(-20px);

  &::before,
  &::after {
    content: '';
    width: 1px;
    height: 22px;
    background-color: c.$base_black;
    position: absolute;
    top: -21px;
  }

  &::before {
    left: 9px;
    transform-origin: top left;
    transform: scale(0) rotate(22deg);
  }

  &::after {
    right: 9px;
    transform-origin: top right;
    transform: scale(0) rotate(-22deg);
  }

  @include m.mq(sm) {
  }

  @include m.mq(sm) {
  }
}

.c-title__square-inner {
  width: calc(100% - 20px);
  height: calc(100% - 12px);
  border: 1px solid;
  border-radius: 4px;
  @include m.center(xy);

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    @include m.center(xy);
  }
}
