@use '../Foundation/color' as c;
@use '../Foundation/mixin' as m;

.l-drawerFrame {
  max-width: 1400px;
  width: 100%;
  // width: calc(100% + 20px);
  margin: 0 auto;
  // border-top: 2px solid;
  // border-radius: 4px;
  padding-bottom: 90px;
  height: 900px; // 仮

  @include m.mq(md) {
  }
}

.l-drawerFrame__wrapper {
  width: calc(100% - 200px);
  width: calc(100% - 30px);
  border-right: 2px solid;
  border-left: 2px solid;
  margin: 0 auto;
  padding: 15px 10px;
  position: relative;
  height: 600px;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: c.$base_black;
    @include m.center(x);
    top: 0;
  }

  @include m.mq(md) {
  }
}

.l-drawerFrame__square {
  @include m.center(x);
  // top: 0;
  border: 2px solid;
  width: 100%;
  max-width: 1300px;
  height: 60px;

  @include m.mq(sm) {
  }
}
