@use '../Foundation/color' as c;
@use '../Foundation/mixin' as m;

.wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid;
  border-radius: 4px;

  // background: c.$back_wood_thin;

  @include m.mq(md) {
    border: 2px solid;
    border-radius: 4px;
    margin: 5px auto;
    padding: 0 30px;
  }
}
